@use '../styles/helpers/functions.scss' as func;
@use '../styles/helpers/variables.scss' as *;

.about {
  padding-top: func.to-rem(30);
  padding-bottom: func.to-rem(60);

  @media (min-width: $m-screen) {
    padding-top: func.to-rem(100);
    padding-bottom: func.to-rem(85);
  }
}
